@use "../abstracts" as *;

.flex {
  display: flex;
  gap: var(--gap, var(--spacer));
}

.flex--grow {
  flex: 1;
}

.text--center {
  text-align: center;
}

@mixin flex($align: center, $justify: between) {
  @extend .flex;
  align-items: $align;
  justify-content: $justify;
}
