@use "../abstracts" as *;

.player {
    --spacer: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: 0 var(--spacer);
    padding: 0;

    @include mq('medium') {
        height: 500px;
        --spacer: 2rem;
        margin: 0;
    }

    &--branding {
        margin-bottom: var(--spacer);
        text-align: center;

        picture {
            width: 200px;

            @include mq('medium') {
                width: 250px;
            }
        }
    }

    &--holder {
        display: grid;
        grid-template-areas: 'stack';
        place-items: start;
        width: 100%;
        height: max-content;
        background-color: var(--clr-neutral-900);
        background-image: linear-gradient(38deg, rgb(40, 40, 40) 0%, rgb(27, 27, 27) 100%);
        margin-bottom: var(--spacer);
        color: var(--clr-neutral-100);
        overflow: hidden;
        @include accentBorder();

        @include mq('medium') {
            height: 325px;
        }

        & > * {
            grid-area: stack;
        }

        [data-type='background-image'] {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: blur(10px);
            opacity: .2;
            z-index: 1;
        }

        &__content {
            display: flex;
            gap: var(--gap, var(--spacer));
            height: 100%;
            width: 100%;
            flex-direction: column;
            padding: var(--spacer);
            z-index: 2;

            @include mq('medium') {
                height: 325px;
            }
        }
    }

    &--footer {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        @include mq('medium') {
            display: flex;
            padding: 0 1rem;
        }

        p.copyright {
            flex: 1;
            font-family: var(--ff-primary);
            font-weight: 600;
            font-size: var(--fs-200);
            color: var(--clr-neutral-100);
        }

        ul.socials {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a{
                    transition: color 350ms ease-in-out;

                    svg {
                        fill: var(--clr-neutral-300);
                        width: 20px;
                        height: 20px;
                        @include mq('medium') {
                            transition: fill 350ms ease-in-out;
                        }
                    }

                    &:hover {
                        svg {
                            fill: var(--clr-neutral-100);
                        }
                    }
                }
            }
        }
    }
}