@use "../abstracts" as *;
dialog {
  max-width: 800px;
  padding: 2rem;
  border: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  inset: 1rem;
  @include accentBorder();

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

  .closeButton {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-weight: 700;
    font-size: var(--fs-300);
    color: var(--clr-neutral-500);
    cursor: pointer;
    transition: color 350ms ease-in-out;

    &:hover {
      color: var(--clr-neutral-800);
    }
  }

  h2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-600);
    line-height: var(--fs-700);
    font-weight: 800;
  }

  .screen {
    display: none;
  }

  .error {
    display: none;
    color: rgb(182, 1, 1);
    border: 1px solid rgba(124, 0, 0, 0.3);
    background: rgba(182, 1, 1, 0.15);
    padding: 0.25rem 1rem;
    margin-top: 2rem;
    font-weight: 500;
    @include accentBorder();
  }

  .complete {
    display: none;

    .checkmark__circle {
      stroke-dasharray: 166;
      stroke-dashoffset: 166;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke: #7ac142;
      fill: none;
      animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .checkmark {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: block;
      stroke-width: 2;
      stroke: #fff;
      stroke-miterlimit: 10;
      margin: 10% auto;
      box-shadow: inset 0px 0px 0px #7ac142;
      animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
      transform: scale(2);
    }

    .checkmark__check {
      transform-origin: 50% 50%;
      stroke-dasharray: 48;
      stroke-dashoffset: 48;
      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }

    @keyframes stroke {
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes scale {
      0%,
      100% {
        transform: none;
      }
      50% {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
    @keyframes fill {
      100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
      }
    }
  }

  .visible {
    display: block;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .input-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.75rem;

      label {
        font-size: var(--fs-200);
        font-weight: 600;
        margin-bottom: 0.25rem;

        span {
          color: red;
          font-weight: 400;
        }
      }

      input {
        padding: 0.5rem;
        width: 100%;
        border: 1px solid var(--clr-neutral-700);
        @include accentBorder();
      }

      small {
        color: red;
        font-size: var(--fs-100);
        font-weight: 600;
      }
    }
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  button {
    border: 0;
    padding: 0.5rem 2rem;
    font-weight: 600;
    font-size: var(--fs-200);
    cursor: pointer;
    @include accentBorder();
    @include mq("medium") {
      transition: background-color 0.3s ease-in-out;
      -webkit-transition: background-color 0.3s ease-in-out;
    }

    &:hover {
      background-color: var(--clr-neutral-200);
    }
  }

  .submit {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);

    &:hover {
      background-color: var(--clr-primary-500);
    }
  }
}

.settings {
  .input-row {
    margin-top: 1rem;
    label {
      display: inline-block;
      font-size: var(--fs-200);
      font-weight: 600;
      margin-bottom: .25rem;
    }

    select {
      grid-area: select;
      // A reset of styles, including removing the default dropdown arrow
      appearance: none;
      // Additional resets for further consistency
      background-color: transparent;
      border: none;
      padding: 0 1em 0 0;
      margin: 0;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;

      &:focus,
      &:focus-visible {
        outline-color: var(--clr-neutral-100);
      }
    }

    .select {
      display: grid;
      grid-template-areas: "select";
      align-items: center;
      position: relative;
      width: 100%;
      min-width: 15ch;
      max-width: 30ch;
      border: 1px solid var(--clr-neutral-300);
      border-radius: 0.25em;
      padding: 0.25em 0.5em;
      font-size: var(--fs-300);
      cursor: pointer;
      line-height: 1.1;
      background-color: #fff;
      background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

      &::after {
        grid-area: select;
        justify-self: end;
        content: "";
        width: 0.8em;
        height: 0.5em;
        background-color: var(--clr-primary-400);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }
    }
  }
}