@use "../abstracts" as *;

.navigation {
    display: grid;
    grid-template-columns: auto max-content;
    gap: var(--spacer);
    margin-bottom: var(--spacer);
    align-items: center;

    &--brand {
        img {
            width: var(--imageSize);
            height: auto;
        }
    }
}