@use "../abstracts" as *;

.player {
    margin-bottom: var(--spacer);

    @include mq("medium") {
        display: grid;
        height: 225px;
        grid-template-columns: 225px auto;
        grid-gap: var(--spacer);
    }

    &--image {
        display: none;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

        img {
            width: 100%;
            @include accentBorder();
        }

        @include mq("medium") {
            display: block;
        }
    }

    &--holder {
        display: grid;
        grid-template-rows: auto 50px;

        &__details {
            margin-bottom: var(--spacer);

            @include mq("medium") {
                margin-bottom: 0;
            }

            h2 {
                font-weight: 700;
                font-size: var(--fs-500);

                @include mq("medium") {
                    font-size: var(--fs-600);
                }
            }

            h3 {
                font-weight: 400;
                font-size: var(--fs-300);

                @include mq("medium") {
                    font-size: var(--fs-400);
                }
            }

        }
    
        &__actions {
            margin-top: 1rem;

            .btn {
                border: 0;
                font-size: var(--fs-200);
                background: var(--clr-primary-500);

                &:hover {
                    background: var(--clr-primary-600);
                    border: 0;
                }

                i {
                    margin-right: .75rem;
                }
            }
        }

        &__controls {
            display: flex;
            flex-direction: row;
            gap: var(--spacer);
            padding: 0 1rem;
            background: var(--clr-neutral-900);
            align-items: center;
            @include accentBorder();

            i {
                color: var(--clr-neutral-300);
                font-size: var(--fs-500);
                line-height: 50px;
                cursor: pointer;
                transition: color .3s ease-in-out;

                &:hover {
                    color: var(--clr-neutral-100);
                }
            }

            .playPause {
                width: 30px;
                text-align: center;
            }

            .status {
                flex: 1;
            }

            google-cast-launcher {
                float: right;
                margin: 0;
                width: 40px;
                height: 32px;
                border: none;
                outline: none;
                transition: color .3s ease-in-out;
                --disconnected-color: var(--clr-neutral-300);
                --connected-color: var(--clr-secondary-300);
                
                &:hover {
                    --disconnected-color: white;
                    --connected-color: var(--clr-secondary-400);
                }
            }

            .volume {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &:hover {
                    input[type=range] {
                        opacity: 1;
                        width: 100px;
                        margin-left: 1rem;
                    }
                }

                input[type=range] {
                    -webkit-appearance: none;
                    background: var(--clr-neutral-200);
                    border-radius: 20px;
                    height: 5px;
                    width: 0;
                    opacity: 0;
                    outline: none;
                    cursor: pointer;
                    transition: opacity .325s ease-in,
                                width .325s ease-out;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none; /* Override default look */
                        appearance: none;
                        width: 17.5px;
                        height: 17.5px;
                        border-radius: 50%;
                        background: var(--clr-primary-400);
                    }

                    &::-moz-range-thumb {
                        appearance: none;
                        width: 17.5px;
                        height: 17.5px;
                        border-radius: 50%;
                        background: var(--clr-primary-400);
                    }
                }
            }

            p {
                font-size: var(--fs-100);
                line-height: 50px;
            }
        }
    }

}