@use "../abstracts" as *;
.is-loading {
    img, h3, h4, [data-type='playpause'], [data-type='message'], .volumeSlider {
        background: #333;
        background: linear-gradient(110deg, #333333 8%, #363636 18%, #333333 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    h3 {
        height: 18px;
        max-width: 250px;

        @include mq('medium') {
            height: 45px;
        }
    }

    h4 {
        height: 15px;
        max-width: 165px;

        @include mq('medium') {
            height: 25px;
        }
    }

    [data-type='playpause'] {
        height: 56px;
        width: 56px;
    }

    [data-type='message'] {
        max-height: 25px;
        max-width: 142px;
    }

    .volumeSlider {
        max-width: 145px;
        max-height: 16px;
    }
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
  }